html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    background-color: aliceblue;
    color: white;
}
h5{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}
*{
    box-sizing: border-box;

}
.header{
    height: 20%;
    background-color: rgb(40, 189, 194);
}

.product-container{
    background-color: #495057;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    
    /* height: 50%; */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.product-container .card{
    box-shadow: 10px 10px 5px 0px rgba(193,177,177,0.75);
    /* box-shadow: lightgreen; */
    transition: 0.3s;
    margin: 20px;
    height: 350px;
    width: 25%;
    background-color: lightslategray;
    /* border-radius: 30px; */
    box-sizing: border-box;
    padding: 2px 16px;
    
}
.card:hover{
    box-shadow: 21px 22px 6px 1px rgba(211,199,199,0.84);
}
.card-img-top{
    border-radius: 30px;
    padding: 0px;
    /* height: 50%;
    width: 100%; */
}

.card img{
    min-width: auto;
    height: 200px;
}