html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    background-color: aliceblue;
}
h5{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}
*{
    box-sizing: border-box;

}
.header{
    height: 20%;
    background-color: rgb(40, 189, 194);
}

.product-container{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    margin: 0px;
    /* height: 50%; */
    width: 100%;
    justify-content: center;
    align-items: center;
}
.product-container .card{
    box-shadow: 10px 10px 0px 10px  rgb(16, 109, 112);
    /* box-shadow: lightgreen; */
    transition: 0.3s;
    margin: 20px;
    height: 15%;
    width: 25%;
    background-color: lightslategray;
    /* border-radius: 30px; */
    box-sizing: border-box;
    padding: 2px 16px;
    
}
.card:hover{
    box-shadow: 30px 20px 0px 0px  rgb(13, 30, 63);
}
.card-img-top{
    border-radius: 30px;
    padding: 0px;
    /* height: 50%;
    width: 100%; */
}